
/* Global Styles */
:root{
    --text-color: #EFF2F6; 
    --cherry: #EA918D;  
    --film: rgba(51,51,51,0.4);
    
}
*{            
    padding: 0; 
    margin: 0;    
} 

body{
    font-family:  'Lato', Arial, Helvetica, sans-serif;
    background: url(/imgs/White-city-bg.png) no-repeat; 
    background-size: cover; 
    background-position: center; 
    height: 100%;  
    overflow-x: hidden;
} 
.bg{
    background: var(--film);
    height: 100%;  
    color: var(--text-color); 

} 
.container{
    max-width: 90%;
    margin: auto; 
    grid-gap: 90px; 
   
} 

/* Global Styles END */ 


/* HEADER */
header{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    min-height: 15vh; 
} 

.hamburger{
    cursor: pointer;
}

.nav-links{
    width: 100%; 
    background: red; 
    height: 100%;
    position: absolute; 
    left: 0; 
    top: 0; 
    transform: translateX(100%); 
    list-style: none;    
} 

.nav-links a{ 
    color: var(--text-color); 
    text-decoration: none;
}
#logo{
    height: 1.8rem;
}
/* Header END */ 

/* main */
main{
    display: flex; 
    flex-direction: column; 
} 
main h1{
    width: 85%;
    margin: 4rem 0rem ; 
    font-size: 2.5rem;
} 

.icons{
    margin: 0 0 7rem 0;
} 
.icons div{ 
    display: flex; 
    align-items: center; 
    margin:0 0 3rem  0; 
  
} 
.icons svg{ 
    margin: 0 2rem 0 0;
}  
.icons p{
    line-height: 2rem;;
    font-size: 1.2rem;
}
.icons span{ 
    font-weight: 700;
    display: block; 
    font-size: 1.7rem;
}
/* main end */

/* footer */ 

footer{ 
    background: var(--film);  
} 

footer img{
    width: 83px; 
    height: 50px; 
    margin-right: 2rem;
}
footer div{
    display: flex;   
    padding: 1rem;
    align-items: center;
}  

/* footer div img{
    margin-right: 2rem; 
    height: auto; 
    width: 25%;
} */
 
footer div p{
    text-transform: uppercase;
    line-height: 2.2rem; 
    font-size: 1.2rem;
    width: 50%;

}
footer div span{ 
    text-transform: capitalize;
    font-weight: 400;;
    display: block;
} 

footer div a{
    text-decoration: none; 
    color: var(--text-color);  
    text-transform: uppercase;   
    font-size: 1.2rem; 
    font-weight: 700;
}


/* footer end */