
/* Global Styles */
:root{
    --text-color: #EFF2F6; 
    --cherry: #EA918D;  
    --film: rgba(51,51,51,0.4);
    
}
*{            
    padding: 0; 
    margin: 0;    
} 

body{
    font-family:  'Lato', Arial, Helvetica, sans-serif;
    background: url(/imgs/White-city-bg.png) no-repeat; 
    background-size: cover; 
    background-position: center; 
    height: 100%; 
    overflow-x: hidden;
} 
.bg{
    background: var(--film);
    height: 100%;  
    color: var(--text-color); 

} 
.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto; 
   
} 

/* Global Styles END */ 


/* HEADER */
header{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    min-height: 15vh; 
} 

.hamburger{
    cursor: pointer;
}

.nav-links{
    width: 100%; 
    background: var(--cherry);
    height: 100%;
    position: absolute; 
    left: 0; 
    top: 0; 
    transform: translateX(110%); 
    list-style: none;    
} 

.nav-links a{ 
    color: var(--text-color); 
    text-decoration: none;
}
#logo{
    height: 1.8rem;
}
/* Header END */ 

/* main */
main{
    display: flex; 
    flex-direction: column; 
} 
main h1{
    width: 85%;
    margin: 4rem 0rem ; 
    font-size: 2.5rem;
} 

.icons{
    margin: 0 0 7rem 0;
} 
.icons div{ 
    display: flex; 
    align-items: center; 
    margin:0 0 3rem  0; 
  
} 
.icons svg{ 
    margin: 0 2rem 0 0;
}  
.icons p{
    line-height: 2rem;;
    font-size: 1.2rem;
}
.icons span{ 
    font-weight: 700;
    display: block; 
    font-size: 1.7rem;
}
/* main end */

/* footer */ 

footer{ 
    background: var(--film);  
} 

footer img{
    width: 83px; 
    height: 50px; 
    margin-right: 2rem;
}
footer div{ 
    display: flex;   
    padding: 1rem; 

}  

 
footer div p{
    text-transform: uppercase;
    line-height: 2.2rem; 
    font-size: 1.2rem;
    width: 60%; 
    font-weight: 700;

}
footer div span{ 
    text-transform: capitalize;
    font-weight: 400;;
    display: block;
} 

footer div a{
    text-decoration: none; 
    color: var(--text-color);  
    text-transform: uppercase;   
    font-size: 1.2rem; 
    font-weight: 700;
}


/* footer end */ 


/* Media Queries */ 
@media only screen and (min-width: 768px){ 
    .container{
        width: 80%;
    }
    .hamburger{
        display: none;
    } 

    .nav-links{
        position: initial; 
        transform: translateX(0%); 
        display: flex; 
        justify-content: space-between;  
        width: 20%;  
        background: transparent; 
        font-size: 1.2rem;
    }  
    .nav-link{
        margin: 0 1.3rem;
    }
    .login-btn{
        background: var(--cherry); 
        padding: .4rem 1.5rem;
    }  

    main h1{
        font-size: 4.3rem; 
        width: 60%;
    }

    .icons{
        display: flex;  
        margin: 0 0 12rem 0;
    } 
    .icons div{
        margin: 0 2rem 0 0;
    } 
    footer{
        display: flex; 
    }    


    footer img{
        width: 10rem; 
        height: auto;

    } 

      footer div p{ 
        text-transform: uppercase;
        line-height: 2.2rem; 
        font-size: 1.2rem;
        width: 60%; 
        font-weight: 700;
    }  
    .features{
        align-items: flex-start;

    } 
    .link-container{
        margin: .25rem 0 0 15rem ;
    }


    .footer-cover{
        background: var(--film);
        width: 90%;
        max-width: 1440px; 
        margin: 0 0 0 auto;
    }


}